body {
  --white: #fff;
  --red: #ff5e5b;
  --orange: #ff945b;

  background-color: #333;
  font-size: 30px;
}

.scene,
.scene div,
.scene div::after,
.scene div::before {
  position: absolute;
  content: "";
  transform-style: preserve-3d;
}

.scene {
  top: 50%;
  left: 50%;
  transform: rotateX(65deg) rotateZ(45deg);
}

.cube {
  --x: 0px;
  --y: 0px;
  --z: 0px;
  --color: var(--white);
  top: 50%;
  left: 50%;
  width: var(--x);
  height: var(--y);
  translate: -50% -50%;
  background-color: color-mix(in display-p3, var(--color) 50%, #333);
}

.cube::before {
  width: var(--x);
  height: var(--z);
  background-color: color-mix(in display-p3, var(--color) 70%, #333);
  transform-origin: top center;
  rotate: x 90deg;
}

.cube::after {
  width: var(--x);
  height: var(--z);
  background-color: color-mix(in display-p3, var(--color) 70%, #333);
  transform-origin: top center;
  rotate: x 90deg;
  translate: 0 var(--y);
}

.cube > div {
  width: var(--x);
  height: var(--y);
  background-color: var(--color);
  translate: 0 0 var(--z);
}

.cube > div::before {
  width: var(--z);
  height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 80%, #333);
  rotate: y 90deg;
  transform-origin: left center;
}

.cube > div::after {
  width: var(--z);
  height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 80%, #333);
  rotate: y 90deg;
  transform-origin: left center;
  translate: var(--x);
}

.chicken__head {
  --x: 4em;
  --y: 4em;
  --z: 4em;
  --color: var(--white);
}

.chicken__body {
  --x: 4em;
  --y: 6em;
  --z: 4em;
  --color: var(--white);
  transform: translateY(-1em) translateZ(-4em);
}

.chicken__beak {
  --x: 1em;
  --y: 2em;
  --z: 1em;
  --color: var(--orange);
  transform: translateY(2.5em) translateZ(1.5em);
}

.chicken__wattle {
  --x: 1em;
  --y: 1em;
  --z: 1em;
  --color: var(--red);
  transform: translateY(5rem) translateZ(0.5em);
}

.chicken__comb {
  --x: 1em;
  --y: 2em;
  --z: 1em;
  --color: var(--red);
  transform: translateZ(4em);
}

.chicken__tail {
  --x: 3em;
  --y: 6em;
  --z: 4em;
  --color: var(--white);
  transform: translateY(-2em) translateZ(-4em);
}

.chicken__wing {
  --x: 1em;
  --y: 3.5em;
  --z: 1.5em;
  --color: var(--white);
}

.chicken__wing-left {
  transform: translateX(3em) translateZ(-2em) translateY(-0.5em);
}

.chicken__wing-right {
  transform: translateX(-3em) translateZ(-2em) translateY(-0.5em);
}

.chicken__knee {
  --x: 1em;
  --y: 1em;
  --z: 2em;
  --color: var(--orange);
  transform: translateZ(-6em);
}
