body {
  --white: #fff;
  --red: #ff5e5b;
  --orange: #ff945b;

  background-color: #333;
  font-size: 30px;
}

.scene,
.scene div,
.scene div::after,
.scene div::before {
  position: absolute;
  content: "";
  transform-style: preserve-3d;
}

.scene {
  top: 50%;
  left: 50%;
  transform: rotateX(65deg) rotateZ(45deg);
}

.cube {
  --x: 400px;
  --y: 400px;
  --z: 400px;
  --color: var(--white);
  top: 50%;
  left: 50%;
  width: var(--x);
  height: var(--y);
  translate: -50% -50%;
  background-color: color-mix(in display-p3, var(--color) 50%, #333);
}

.cube::before {
  width: var(--x);
  height: var(--z);
  background-color: color-mix(in display-p3, var(--color) 70%, #333);
  transform-origin: top center;
  rotate: x 90deg;
}

.cube::after {
  width: var(--x);
  height: var(--z);
  background-color: color-mix(in display-p3, var(--color) 70%, #333);
  transform-origin: top center;
  rotate: x 90deg;
  translate: 0 var(--y);
}

.cube > div {
  width: var(--x);
  height: var(--y);
  background-color: var(--color);
  translate: 0 0 var(--z);
}

.cube > div::before {
  width: var(--z);
  height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 80%, #333);
  rotate: y 90deg;
  transform-origin: left center;
}

.cube > div::after {
  width: var(--z);
  height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 80%, #333);
  rotate: y 90deg;
  transform-origin: left center;
  translate: var(--x);
}

.chicken__head {
  --x: 6em;
  --y: 7em;
  --z: 8em;
  --color: var(--white);
}
