body {
  --white: #fff;
  --red: #ff5e5b;
  --orange: #ff945b;

  background-color: #333;
  font-size: 30px;
}

.scene,
.scene div,
.scene div::after,
.scene div::before {
  position: absolute;
  content: "";
  transform-style: preserve-3d;
}

.scene {
  top: 50%;
  left: 50%;
  transform: rotateX(65deg) rotateZ(45deg);
  animation-name: rotate;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cube {
  --x: 0px;
  --y: 0px;
  --z: 0px;
  --color: var(--white);
  top: 50%;
  left: 50%;
  width: var(--x);
  height: var(--y);
  translate: -50% -50%;
  background-color: color-mix(in display-p3, var(--color) 50%, #333);
}

.cube::before {
  width: var(--x);
  height: var(--z);
  background-color: color-mix(in display-p3, var(--color) 70%, #333);
  transform-origin: top center;
  rotate: x 90deg;
}

.cube::after {
  width: var(--x);
  height: var(--z);
  background-color: color-mix(in display-p3, var(--color) 70%, #333);
  transform-origin: top center;
  rotate: x 90deg;
  translate: 0 var(--y);
}

.cube > div {
  width: var(--x);
  height: var(--y);
  background-color: var(--color);
  translate: 0 0 var(--z);
}

.cube > div::before {
  width: var(--z);
  height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 80%, #333);
  rotate: y 90deg;
  transform-origin: left center;
}

.cube > div::after {
  width: var(--z);
  height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 80%, #333);
  rotate: y 90deg;
  transform-origin: left center;
  translate: var(--x);
}

.chicken__head {
  --x: 4em;
  --y: 4em;
  --z: 4em;
  --color: var(--white);
}

.chicken__head > div::before,
.chicken__head > div::after {
  background-image: linear-gradient(black, black);
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: 1em 2.25em;
}

.chicken__body {
  --x: 4em;
  --y: 6em;
  --z: 3em;
  --color: var(--white);
  transform: translateY(-1em) translateZ(-3em);
}

.chicken__beak {
  --x: 1em;
  --y: 2em;
  --z: 1em;
  --color: var(--orange);
  transform: translateY(2.5em) translateZ(1.5em);
}

.chicken__wattle {
  --x: 1em;
  --y: 1em;
  --z: 1em;
  --color: var(--red);
  transform: translateY(5rem) translateZ(0.5em);
}

.chicken__comb {
  --x: 1em;
  --y: 2em;
  --z: 1em;
  --color: var(--red);
  transform: translateZ(4em);
}

.chicken__tail {
  --x: 3em;
  --y: 5em;
  --z: 3em;
  --color: var(--white);
  transform: translateY(-2em) translateZ(-3em);
}

.chicken__wing {
  --x: 1.25em;
  --y: 3.5em;
  --z: 1.75em;
  --color: var(--white);
}

.chicken__wing-left {
  transform: translateX(2.5em) translateZ(-2em) translateY(-0.5em);
}

.chicken__wing-right {
  transform: translateX(-2.5em) translateZ(-2em) translateY(-0.5em);
}

.chicken__knee {
  --x: 0.5em;
  --y: 0.5em;
  --z: 2em;
  --color: var(--orange);
}

.chicken__knee-left {
  transform: translateZ(-5em) translateX(1.5em) translateY(-1em);
}

.chicken__knee-right {
  transform: translateZ(-5em) translateX(-1.5em) translateY(-1em);
}

.chicken__foot {
  --x: 1.5em;
  --y: 1.5em;
  --z: 0.5em;
  --color: var(--orange);
}

.chicken__foot-left {
  transform: translateZ(-5.5em) translateX(1.5em) translateY(-1em);
}

.chicken__foot-right {
  transform: translateZ(-5.5em) translateX(-1.5em) translateY(-1em);
}

.chicken__finger {
  --x: 0.5em;
  --y: 1em;
  --z: 0.5em;
  --color: var(--orange);
}

.chicken__finger-1 {
  transform: translateZ(-5.5em) translateX(-2em);
}

.chicken__finger-2 {
  transform: translateZ(-5.5em) translateX(-1em);
}

.chicken__finger-3 {
  transform: translateZ(-5.5em) translateX(1em);
}

.chicken__finger-4 {
  transform: translateZ(-5.5em) translateX(2em);
}

@keyframes rotate {
  0% {
    transform: rotateX(65deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(425deg) rotateZ(360deg);
  }
}
