body {
  --white: #e4e4e4;
  --red: #ff0000;
  --yellow: #f6ec85;
  --brown: #563c33; /* clothes */
  --orange: #bd8b72; /* skin */
  --green: #009611; /* eyes */
  --charcoal: #332411; /* eyebrow */

  background-color: #747474;
  /* font-size: 20px; */
}

button {
  position: fixed;
  z-index: 1000;
}

#button-right {
  margin-top: 2em;
  margin-left: 3em;
}

#button-left {
  margin-top: 2em;
}

#button-down {
  margin-top: 4em;
  margin-left: 1em;
}

#button-up {
  margin-left: 1.6em;
}

#button-zoom-out {
  position: fixed;
  left: 11em;
}

#button-zoom-in {
  position: fixed;
  left: 13em;
}

#zoom-range {
  position: fixed;
  left: 8em;
  top: 3em;
  z-index: 1000;
}

#x-display {
  position: fixed;
  right: 6em;
  top: 1em;
  font-family: "Arial";
  font-size: 20px;
  color: var(--white);
  z-index: 1000;
}

#z-display {
  position: fixed;
  right: 1em;
  top: 1em;
  font-family: "Arial";
  font-size: 20px;
  color: var(--white);
  z-index: 1000;
}

.cube {
  --x: 0;
  --y: 0;
  --z: 0;
}

.nacho__head {
  --x: 4em;
  --z: 6em;
  --y: 3em;
  --color: var(--white);
}

.nacho__body {
  --x: 6em;
  --y: 8em;
  --z: 6em;
  transform: translateY(-4em) translateZ(-4em);
}

.nacho__beak {
  --y: 2em;
  --z: 2em;
  --x: 4em;
  --color: var(--yellow);
  transform: translateY(2em) translateZ(2em);
}

.nacho__gobble {
  --x: 2em;
  --y: 1em;
  --z: 2em;
  --color: var(--red);
  transform: translateY(2em);
}

.nacho__wing {
  --x: 1em;
  --z: 4em;
  --y: 6em;
}

.nacho__wing-left {
  transform: translateX(3.5em) translateY(-4em) translateZ(-2em);
}

.nacho__wing-right {
  transform: translateX(-3.5em) translateY(-4em) translateZ(-2em);
}

.nacho__leg {
  --x: 1em;
  --y: 1em;
  --z: 3em;
  --color: var(--yellow);
}

.nacho__leg-left {
  transform: translateZ(-7em) translateY(-5em) translateX(1.5em);
}

.nacho__leg-right {
  transform: translateZ(-7em) translateY(-5em) translateX(-1.5em);
}

.nacho__foot {
  --x: 2em;
  --y: 2em;
  --z: 0.5em;
  --color: var(--yellow);
}

.nacho__foot-left {
  transform: translateZ(-7.5em) translateY(-4.5em) translateX(1.5em);
}

.nacho__foot-right {
  transform: translateZ(-7.5em) translateY(-4.5em) translateX(-1.5em);
}

.nacho__toe {
  --x: 0.5em;
  --y: 0.5em;
  --z: 0.5em;
  --color: var(--yellow);
}

.nacho__toe-left {
  transform: translateZ(-7.5em) translateY(-3.25em) translateX(1.5em);
}

.nacho__toe-right {
  transform: translateZ(-7.5em) translateY(-3.25em) translateX(-1.5em);
}

.nacho__eye {
  --x: 1em;
  --y: 1em;
  --z: 1em;
  --color: black;
}

.nacho__eye-left {
  transform: translateY(1em) translateZ(4em) translateX(1.49em);
}

.nacho__eye-right {
  transform: translateY(1em) translateZ(4em) translateX(-1.49em);
}

.nugget__head {
  --x: 8em;
  --y: 8em;
  --z: 8em;
  --color: var(--orange);
  transform: translateY(-6em) translateZ(8em);
}

.nugget__eyebrow {
  --x: 6em;
  --y: 2em;
  --z: 1em;
  --color: var(--charcoal);
  transform: translateY(3.1em) translateZ(-4em);
}

.nugget__eye {
  --x: 2em;
  --z: 1em;
  --color: var(--white);
}

.nugget__eye-left {
  transform: translateY(4.1em) translateZ(-5em) translateX(2em);
}

.nugget__eye-right {
  transform: translateY(4.1em) translateZ(-5em) translateX(-2em);
}

.nugget__eye-left::after {
  background-image: linear-gradient(var(--green), var(--green));
  background-size: 1rem 1em;
  background-repeat: no-repeat;
}

.nugget__eye-right::after {
  background-image: linear-gradient(var(--green), var(--green));
  background-size: 1rem 1em;
  background-repeat: no-repeat;
  background-position: 1.1em;
}

.nugget__nose {
  --x: 2em;
  --y: 1em;
  --z: 3em;
  --color: #b57b67;
  transform: translateY(4.5em) translateZ(-8em);
}

.nugget__mouth {
  --x: 4em;
  --z: 1em;
  --color: #734839;
  transform: translateY(4.1em) translateZ(-7em);
}

.nugget__body {
  --x: 4em;
  --y: 2em;
  --z: 6em;
  --color: var(--brown);
  transform: translateY(-6em) translateZ(2em);
}

.nugget__shoulder {
  --x: 2em;
  --y: 2em;
  --z: 4em;
  --color: #3e2b25;
}

.nugget__shoulder-left {
  transform: translateX(3em) translateY(2.5em) translateZ(-4em) rotateX(45deg);
}

.nugget__shoulder-right {
  transform: translateX(-3em) translateY(2.5em) translateZ(-4em) rotateX(45deg);
}

.nugget__arm {
  --x: 2em;
  --y: 2em;
  --z: 4em;
  --color: #3e2b25;
}

.nugget__arm-left {
  transform: translateX(-3em) translateY(0em) translateZ(-3em) rotateY(90deg);
}

.nugget__arm-right {
  transform: translateZ(-3em) rotateY(90deg);
}

/* .nugget__arm,
.nugget__arm::before,
.nugget__arm::after,
.nugget__arm > div::before,
.nugget__arm > div::after,
.nugget__shoulder > div::before,
.nugget__shoulder > div::after,
.nugget__shoulder,
.nugget__shoulder::before,
.nugget__shoulder::after {
  border: 2px solid red;
} */
